* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 18px;
}


/* NAVBAR */
.header {
  height: 100px;
  width: 100%;
  background-color: rgb(21, 49, 73);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
  position: sticky;
 

}

.header img {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 75px;
  filter: invert(0.6);
}

.connexion {
  padding: 5px;

}

.connexion a {
  color: rgb(21, 49, 73);
  text-decoration: none;
}

.connexion a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin-right: 75px;
  border-radius: 3px;
  width: auto;



}

.nav h1,
.deconnexion,
.fa-cart-shopping {
  padding-right: 30px;

}



.nav p {

  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: rgb(21, 49, 73);
  color: white;
}

.fa-solid {
  color: rgb(21, 49, 73);
}

.panier-nav:hover {
  cursor: pointer;
}

.img-panier img {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  border: 1px solid rgb(21, 49, 73);
  display: flex;
  align-items: center;
  justify-content: center;

}

/* FIN DE NAVBAR */

/* SECTION CONTENT (cards et aside) */
#content {
  display: flex;
  width: 100%;
}


/* SECTION CARDS */
h1 {
  text-align: center;

}


.cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  height: auto;
  padding-left: 35px;
  margin-top: 125px;


}

.cards form button {
  border-radius: 8px;

}

.card {
  height: 250px;
  width: 150px;
  padding: 15px;
  margin: auto;
  background-color: #f2f8fd;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

.card img {
  max-height: 150px;
  height: 100px;
  width: 100%;
  object-fit: contain;
  border-radius: 15px;


}

/*  FIN SECTION CARDS */


/* PAGE CONNEXION */
#contenu-connection {
  border: 2px solid black;
  height: 100vh;
  text-align: center;
  padding-top: 150px;
}

#contenu-connection form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
}

#contenu-connection form div label {
  font-size: 16px;
  color: #666;
}

#contenu-connection form a {
  text-decoration: none;
  color: #007bff;
  margin-right: 10px;
}

#contenu-connection form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 3s;
}

#contenu-connection form button:hover {
  background-color: #0056b3;
}


#contenu-connection form a:hover {
  color: #0056b3;
}

/* PAGE CONNEXION FIN  */

/* PANIER */
aside {
  width: 30%;
  margin-top: 100px;
  text-align: center;
}

.titre-modal-panier {

  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}


.modal-chapitre {
  padding-bottom: 25px;
}

.ligne-item {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}


aside .modal-panier-content {
  border: 2px solid rgb(21, 49, 73);
  height: auto;
  text-align: center;

}

table {

  width: 100%;
}

tbody td {
  padding: 6px;
  border-bottom: 1px solid black;
}

tbody td img {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  border: 1px solid rgb(21, 49, 73);

}

.fa-plus,
.fa-minus {
  font-size: 0.6em;
  padding: 2px;
}

.fa-trash {
  padding: 3px;
}

.fa-cart-shopping {
  font-size: 1.1em;
}



/*------- icone de connexion et de déconnexion -----------*/

.user-icon a {
  color: rgb(21, 49, 73);
  padding-right: 8px;
  cursor: pointer;

}



.user-icon:hover+.logout-menu {
  display: block;
  cursor: pointer;
  font-size: 3em;
}

/*------- FIN DE icone de connexion et de déconnexion -----------*/


/* PAGE DE DETAILS */

a button.btn-back {
  margin-top: 150px;
  margin-left: 44%;



}

#article-panier-details {
  display: flex;
  flex-direction: row;

}


#article-panier-details .card-details {
  margin-top: 150px;
  width: 80%;

  display: flex;
}

#article-panier-details #panier {
  margin-top: 100px;
}


.card-details {
  border: 1px solid black;

}

.card-details img {
  width: 450px;
  height: auto;

}

.info-produit {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

#imageButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border: none;
  background: transparent;
}

.form-detail {
  position: relative;
}

/* FIN DE PAGE DE DETAILS */


/*PAGE INSCRIPTION */

/* Conteneur principal de la page d'inscription */
#contenu-inscription {
position:relative;
}

#inscriptionForm {
  margin: 50px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

/* Titre du formulaire */
#contenu-inscription h2 {
  padding-top: 25px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Style des champs de saisie */
#contenu-inscription input[type="text"],
#contenu-inscription input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
}

/* Style des étiquettes des champs de saisie */
#contenu-inscription label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Style pour le bouton d'inscription */
#contenu-inscription button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#contenu-inscription button:hover {
  background-color: #0056b3;
}

/* Style pour les liens dans le texte */
#contenu-inscription a {
  color: #007bff;
  text-decoration: none;
}

/* Style pour la case à cocher */
#conditions label {
  display: flex;
  align-items: center;
  color: #555;
}

#conditions input[type="checkbox"] {
  margin-right: 5px;
}

/* Style pour les messages d'erreur ou de confirmation */
#password-match {
  text-align: center;
  color: #e74c3c;
  /* Rouge */
  margin-top: 10px;
}

/* Style pour le conteneur du formulaire */
#inscriptionForm {
  display: flex;
  flex-direction: column;
}

/* Ajouter des marges pour les éléments du formulaire */
#inscriptionForm>div {
  margin-bottom: 15px;
}

/* FIN DE PAGE INSCRIPTION */





/*PAGE DE MDP DEMANDE*/



/* Styles pour le conteneur principal */
#container-mdpforgotten {
  background-color: #f9f9f9;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles pour le formulaire */
.container {
  width: 50%;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h5 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

form {
  text-align: center;
}

/* Styles pour les champs de formulaire */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  margin-bottom: 2px;
  display: block;
}

.input-group {
  margin: 0 auto;
  max-width: 300px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles pour le bouton */
.btn-nouveau-mdp {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-nouveau-mdp:hover {
  background-color: #0056b3;
}

/* Styles pour les éléments obligatoires */
span {
  color: red;
}