*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size:18px;
}


/* NAVBAR */
.header{
    height: 100px;
    width: 100%;
    background-color: goldenrod;
    border-radius: 3px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    margin: auto; 
    position: fixed;
}
.header img{
    font-size:30px ;
    font-weight:bold;
    color:white;
    
}
.connexion{
    padding:7px 10px;

}
.connexion:hover{ 
    background-color: #333;
    padding:7px 10px;
    filter: invert(1);
}
.nav{
    display:flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
    border-radius:3px;
    width:auto;
       
}
.nav h1,.deconnexion, .fa-cart-shopping{
padding-right:30px;

}
.nav h1,.deconnexion, .fa-cart-shopping{
    padding-right:30px;

    }
.nav p{
    height: 22px;
    width: 22px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
}

.fa-solid{
    color:goldenrod;
}
.modal{
    text-align: center;
    position:fixed;
    top:100px;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(155, 155, 155, 0.7);    
    z-index: 2;
    display:none;
}
.modal-panier-content{
    background-color: #fff;
    width:450px;
    position:absolute;    
    top:0;
    right:0;
    z-index: 5;
    opacity:1;
    height:100vh;
    
}
.panier-nav:hover{
    cursor:pointer;
}

.img-panier img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border:1px solid goldenrod;
    display:flex;
    align-items: center;
    justify-content: center;

}

/* FIN DE NAVBAR */

/* BODY */

h1{
    text-align: center;
}

.cards{
    padding-top: 150px;
    width:80%;
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    gap: 15px;   
    text-align: center;
    
}
.card{
    width: 300px;
    border:1px solid black;
    padding:15px; 
    margin:auto;
}
.card img{
    max-height:300px;  
    height:auto;
    width: 100%;
    object-fit: cover;

}

